/* -------------------------------------------
  -- Opacity
------------------------------------------- */

.ts-opacity__5 {
  opacity: 0.05;
}

.ts-opacity__10 {
  opacity: 0.1;
}

.ts-opacity__20 {
  opacity: 0.2;
}

.ts-opacity__30 {
  opacity: 0.3;
}

.ts-opacity__40 {
  opacity: 0.4;
}

.ts-opacity__50 {
  opacity: 0.5;
}

.ts-opacity__60 {
  opacity: 0.6;
}

.ts-opacity__70 {
  opacity: 0.7;
}

.ts-opacity__80 {
  opacity: 0.8;
}

.ts-opacity__90 {
  opacity: 0.9;
}
